<h1>Edit photo</h1>

<form>
  <div>
    <label for="caption_field">
      Caption
    </label>

    <input name="the_caption" id="caption_field" type="text" placeholder="Enter a caption..." value="<%= @existing_photo.caption %>">
  </div>

  <div>
    <label for="source_field">
      Image URL
    </label>

    <input name="the_source" id="source_field" type="text" placeholder="Enter a source...">
  </div>

  <div>
    <button>
      Update Photo
    </button>
  </div>
</form>
