<h1>Add A New photo</h1>

<form>
  <div>
    <label for="caption_field">
      Caption
    </label>

    <input name="the_caption" id="caption_field" type="text" placeholder="Enter a caption...">
  </div>

  <div>
    <label for="source_field">
      Source
    </label>

    <input name="the_source" id="source_field" type="text" placeholder="Enter a source...">
  </div>

  <div>
    <button>
      Create Photo
    </button>
  </div>
</form>
