<h1>Add A New photo</h1>

<form>
  <div>
    <label for="caption_field">
      Caption
    </label>

    <input id="caption_field" type="text" placeholder="Enter a caption...">
  </div>

  <div>
    <input type="text" placeholder="Enter a source...">
  </div>
</form>
