<h1>Photo Details</h1>

<img src="<%= @the_photo.source %>" width="720">

<p><%= @the_photo.caption %></p>

<a href="/photos">Back</a>
<a href="/photos/<%= @the_photo.id %>/edit">Edit</a>
<a href="/delete_photo/<%= @the_photo.id %>">Delete</a>
